*.manifest.sgx
*.sig
*.token

manifest

# generated executables
alarm
alarm_loop
brk
clone
condvar.pthread
cpuinfo
dir
divzero
dup
epoll
epoll_socket
errno
exec
exec_fork
exec_victim
file
fork
fork_bomb
fork_exec
fs
futextest.pthread
get_time.m
helloworld
helloworld.pthread
kill
malloc
meminfo
msg_create
msg_create.libos
msg_send
msg_send.libos
multiproc
multisleep
pause
pid_alloc
pid_kill
pie
pipe
pipe_latency
proc
readdir
rename
sandbox_create.libos
script
sem
sigaltstack
signostack
sleep
socketpair
sqrt.m
start.pthread.m
static
static-alarm
static-alarm_loop
static-clone
static-exec_fork
static-fork
static-fork_bomb
static-fork_exec
static-helloworld
static-sigaltstack
static-signostack
static-system
static-tcp
static-tcp.c
static-udp
static-unix
static-vfork
static-vfork_exec
sync.pthread
syscall
system
tcp
test_start_pthread_m.m
time
udp
unix
vfork
vfork_exec
